body {
  background-color: #0d0d0d;
  color: white;
  text-align: center;
}

.navbar {
  font-size: 15px;
  background-color: #1f1f1f;
  display: flex;
  padding-left: 5%;
}

.navbar h1 {
  margin-right: 150px;
  color: #5FF56B;
  padding-right: 68%;
}

.navbar p {
  position: relative;
  top: 15%;
  padding-right: 10px;
}

.navbar button {
    height: 30px;
    position: relative;
    top: 24px;
}

.prompt {
  background-color: #1f1f1f;
  height: 300px;
  font-size: 40px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background-color: #ed2553;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

.movie-list {
  list-style-type: none;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  background-color: #1f1f1f;
}

.movie-list-item {
  word-wrap: break-word;
  font-size: 10px;
  text-align: center;
  display:inline-block;
  margin: 10px;
  max-width: 220px;
}

.movie-list-item > img {
  height: 200px;
  width: 120x;
}

.movie-search input {
  width: 35%;
}
